/* Apply this to the entire app container */
.App {
  min-width: 100dvw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(70, 69, 60);
  background-image: url('../public/kb/background.png');
  background-size: cover;
}

/* Optional: Style for h1 */
h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(3, 78, 23, 0.3);
  color:#065918
}

/* Optional: Style for buttons */
button {
  background: rgb(112, 252, 91);
  border: none;
  border-radius: 5px;
  padding: 1rem 1rem;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

button:hover {
  background: #333;
  color: #00ff37;
}
