.card {
  position: relative;
  width: 100px;
  height: 100px;

}

.card .flipped .front {
  transform: rotate(0);
}

.card .flipped .back {
  transform: rotateY(180deg);
}

.front, .back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.4s;
}

.front {
  transform: rotateY(180deg);
}


.back {
  background: #bbb;
  transform: rotateY(180);
  cursor: pointer;
  background: linear-gradient(135deg, #38ff56, #6f7067)
  
}
