.card {
  position: relative;
  width: 6rem;
  aspect-ratio: 1;
}

.front, .back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  /* backface-visibility: hidden; */
  transition: transform 0.4s;
}

.front{
transform:scale(0)
}


.card .flipped .front {
  transform: scale(1);
  transform:translate(-3rem);
  transition: transform 0.4s;

}
.back {
  transition: all ease-in 0.2s;
  background: #bbb;
  cursor: pointer;
  background: linear-gradient(135deg, #38ff56, #6f7067);
}

.card .flipped .back {
  transform: rotateY(90deg);
}

