.memory-game {
  text-align: center;
  }

.card-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
  max-width: 900px;
  margin: 0 auto;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
